@font-face {
  font-family: hafs;
  src: url(./assets/fonts/KFGQPC.otf);
}

@font-face {
  font-family: anotherHafs;
  src: url(./assets/fonts/UthmanicHafs1Ver18.woff2);
}

body {
  font-family: anotherHafs;
}

::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
