@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: hafs;
  src: url(./assets/fonts/KFGQPC.otf);
}

@font-face {
  font-family: anotherHafs;
  src: url(./assets/fonts/UthmanicHafs1Ver18.woff2);
}

/* .light {
  @apply;
} */

/* body {
  font-family: "Amiri", serif;
} */

::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
